<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Datos del Producto</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <h1>Datos del Producto</h1>
        <a th:href="@{/producto}">Regresar</a>
        <br/>
        <form th:action="@{/producto/guardar}" method="post" th:object="${producto}">
            <input type="hidden" name="codProducto" th:field="*{codProducto}" />
            <br/>
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" th:field="*{nombre}"/>
            <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Error Nombre</span>  
            <br/>
            <label for="precio">Precio:</label>
            <input type="number" step="any" name="precio" th:field="*{precio}"/>
            <span th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}">Error Precio</span> 
            <br/>
            <input type="submit" name="guardar"  value="Guardar"/> 
        </form>
    </body>
</html>
